<p style="font-size:12pt">Dear Administrator,  <br><br>
The following message has been sent from the Contact Us Section of SOAJS Website.  <br> <br>
<b>Name: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b>{{name}}<br>
<b>E-mail:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b>{{email}}<br>
<b>Purpose:&nbsp;&nbsp;</b>{{purpose}}<br>
<b>Message:&nbsp;</b>{{message}}<br> <br> <br>
Regards,<br>
	SOAJS Website. </p>